.actualites {
    padding: 80px 20px;
    background-color: #ededed;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #000;
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: "";
    display: block;
    height: 4px;
    width: 60%;
    background-color: #B9FF53;
    margin: 10px auto 0;
    border-radius: 4px;
}

.actu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.actu-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: all 0.2s ease;
}

.actu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.actu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.actu-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000;
}

.actu-card p {
    flex-grow: 1;
    color: #555;
    margin-bottom: 20px;
}

.actu-btn {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: all 0.3s;
}

.actu-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.actu-btn:hover {
    color: #000;
}

.actu-btn:active {
    scale: calc(0.95);
}

.actu-btn:hover::after {
    transform: scaleX(1);
    background-color: #B9FF53;
}

.actu-btn i {
    transition: all 0.3s ease;
}

.actu-btn:hover i {
    transform: translateX(4px);
} 

.plus-btn {
    color: #000;
    border: #000 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-top: 40px;
    transition: all 0.3s;
}

.plus-btn:hover {
    background-color: #B9FF53;
}

.plus-btn:active {
    scale: calc(0.95);
}

.plus-btn i {
    transition: all 0.3s ease;
}

.plus-btn:hover i {
    transform: translateX(4px);
}
  
